.footer {
  background-color: rgb(94, 94, 134);
  text-align: center;
  padding: 60px;
}

.footer .icon {
  font-size: 40px;
  color: white;
}

.footer h3 {
  font-size: 20px;
  font-weight: 100;
  color: rgb(185, 218, 240);
}
